/* Use google fonts typography with its variants */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* CSS Properties used: 
/* -webkit-font-smoothing - allows web fonts to be scaled on different browsers
/* z-index - sets which CSS property goes in front or behind
/* last-child: selector that targets the last element of the list
/* :hover - pseudo class that starts when user mouseover on element
/* :active - pseudo class that starts after user clicks on a link 
*/

/***************************/
/* 01. Global CSS
/***************************/

* {
   margin: 0;
   padding: 0;
}

	
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
}

html,
body {
   background: #faf6f6;
   font-family: 'Poppins', Arial, sans-serif;
   font-size: 16px;
   font-weight: 400;
}

a {
   text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0px;
   margin-bottom: 0px;
}

ul {
   margin-bottom: 0px;
}

ul,
li {
   padding: 0;
   margin: 0;
   list-style: none;
}

p {
   font-size: 14px;
   line-height: 25px;
   color: #2a2a2a;
}

img {
   width: 100%;
   height: 100%;
}

header,
nav,
section,
footer {
   display: block;
}

/*---------------------------*/
/* Utility Classes
/*---------------------------*/
.left-content {
   margin-bottom: 25px;
}

.left-content p {
   margin-bottom: 25px;
   font-size: 14px;
   font-weight: 400;
}

.heading-section h2 {
   padding: 0px 50px 20px 0px;
}

.heading-section h4 {
   padding: 15px 0 15px 20px;
   color: #96510c;
   font-size: 20px;
   font-weight: 500;
}

.right-content {
   margin-left: 30px;
}

/***************************/
/* 02. Header Area
/***************************/
.header-area {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 100px;
   z-index: 99;
}

.header-area .top-navbar {
   min-height: 80px;
   background: transparent;
}

.header-area .top-navbar .logo {
   color: #fff;
   float: left;
   line-height: 100px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.header-area .top-navbar .main-logo {
   padding-top: 40px;
   color: #96510c;
   font-family: 'Dancing Script', Arial, sans-serif;
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 3px;
   text-transform: capitalize;
}

.header-area .top-navbar .nav {
   margin-top: 30px;
   margin-right: 0px;
   float: right;
   background-color: transparent;
   position: relative;
   z-index: 100;
}

.header-area .top-navbar .nav li {
   padding-left: 15px;
   padding-right: 15px;
}

.header-area .top-navbar .nav li:last-child {
   padding-right: 0px;
}

.header-area .top-navbar .nav li a {
   display: block;
   height: 40px;
   color: #2a2a2a;
   font-size: 15px;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 40px;
   border: transparent;
   letter-spacing: 1px;
   /* Chrome browser compatibility */
   -webkit-transition: all .25s ease;
   /* Mozilla browser compatibility */
   -moz-transition: all .25s ease;
   /* Opera browser compatibility */
   -o-transition: all .25s ease;
   /* Other browser compatibility */
   transition: all .25s ease;
}

/* Sets color for all the navbar links */
.header-area .top-navbar .nav li:hover a,
/* Sets color for active link inside navbar */
.header-area .top-navbar .nav li a.active {
   color: #96510c  !important;
}

/*---------------------------
/* Sticky Navbar
/*-------------------------*/

.scroll-header {
   position: fixed !important;
   height: 80px !important;
   margin: 0 6%;
   top: 0;
   left: 0;
   right: 0;
   background-color: #faf6f6 !important;
}

.scroll-header .logo {
   margin-top: -10px !important;
}

/***************************/
/* 03. Hero Area
/***************************/

.hero-area {
   padding-top: 100px;
}

.hero-area .col-lg-4,
.hero-area .col-lg-8 {
   padding: 0px;
}

.hero-area .left-hero {
   background-image: radial-gradient(
      rgba(186, 109, 21, 0.8), 
      rgba(234, 148, 27, 0.80)), 
      url(../../assets/img/hero-bg-left.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 510px;
   height: 620px;
}

.left-hero .heading-hero {
   position: absolute;
   top: 50%;
   left: 40%;
   transform: translate(-40%, -50%);
}

.heading-hero h1 {
   font-family: 'Dancing Script', cursive;
   color: #fff;
   font-size: 54px;
   font-weight: 700;
}

.heading-hero h3 {
   margin-top: 5px;
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 3px;
   text-transform: lowercase;
}

.left-hero .cta-btn a {
   display: inline-block;
   margin-top: 20px;
   padding: 12px 25px;
   background-color: #fff;
   color: #96510c ;
   font-weight: 600;
   border-radius: 3px;
   transition: all 0.3s;
}

.left-hero .cta-btn a:hover {
   opacity: 0.9;
}

/*------------------------
/* Hero Slider Images
/*----------------------*/

.wide-slider .item > div {
   vertical-align: middle;
}

.wide-slider .item.slick-active {
   animation: Slick-FastSwipeIn 1s both;
}

.wide-slider .NextArrow {
   position: absolute;
   top: 50%;
   transform: translateY(-25px);
   right: 30px;
   width: 50px;
   height: 50px;
   background-color: transparent;
   border: 0 none;
   line-height: 44px;
   border-radius: 50%;
   text-align: center;
   font-size: 36px;
   font-family: 'FontAwesome';
   color: transparent;
   z-index: 5;
   outline: none;
   opacity: 0.3;
   transition: all .3s;
}

.wide-slider .NextArrow:hover {
   opacity: 1;
}
.wide-slider .NextArrow:before {
   content: '\f105';
}

.wide-slider .PrevArrow {
   position: absolute;
   top: 50%;
   transform: translateY(-25px);
   right: 30px;
   width: 50px;
   height: 50px;
   background-color: transparent;
   border: 0 none;
   line-height: 44px;
   border-radius: 50%;
   text-align: center;
   font-size: 36px;
   font-family: 'FontAwesome';
   color: transparent;
   z-index: 5;
   outline: none;
   opacity: 0.3;
   transition: all .3s;
}

.wide-slider .PrevArrow:hover {
   opacity: 1;
}
.wide-slider .PrevArrow:before {
   content: '\f104';
}
	
.right-hero .fill-image {
   position: relative;
   text-align: center;
   overflow: hidden;
}

.right-hero .fill-image img {
   width: 100%;
   height: 620px;
   display: inline-block;
   position: relative;
}

/***************************/
/* 04. About Area
/***************************/

.about-area {
   margin-top: 20px;
   padding: 100px 0;
}

.about-area img {
   width: 100%;
   border: 5px solid #ddd;
}

.preview-image img {
   height: 360px;
   border: none;
}

.preview-image a {
   display: inline-block;
   position: absolute;
   top: 41%;
   left: 46%;
   width: 70px;
   height: 70px;
   background-color: #96510c;
   color: #faf6f6;
   opacity: 0.8;
   text-align: center;
   line-height: 70px;
   border-radius: 50%;
   transform: translate(-35px -35px);
   transition: all 0.3s;
}

.preview-image a:hover {
   cursor: pointer;
   opacity: 1;
}

.preview-image i {
   padding-top: 24px;
   padding-left: 5px;
   font-size: 24px;
}

/***************************/
/* 05. Pastries Area
/***************************/

.pastries-area {
   padding: 100px 0;
   background-image: radial-gradient(
      rgba(194, 151, 20, 0.85), 
      rgba(239, 206, 86, 0.9)), 
      url(../../assets/img/pastries-bg.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.heading-product {
   margin: 0 auto;
   padding-bottom: 40px;
   max-width: 500px;
   text-align: center;
}

.heading-product h2 {
   padding-left: 30px;
   font-size: 28px;
   color: #faf6f6;
}

.heading-product h4 {
   padding: 15px 0 15px 20px;
   color: #96510c;
   font-size: 20px;
   font-weight: 700;
}

.card {
   margin: 0 auto;
   max-width: 280px;
   min-height: 400px;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   border-radius: 8px;
   border: 1px solid rgba(189, 103, 18, 0.8);
}

.card:hover .pastrie-info,
.card:hover .pastrie-info:before {
    transform: translateY(100px);
}
		
.pastrie-1 {
   background-image: url(../../assets/img/pastrie-1.jpeg);
}

.pastrie-2 {
   background-image: url(../../assets/img/pastrie-2.jpeg);
}

.pastrie-3 {
   background-image: url(../../assets/img/pastrie-3.jpeg);
}

.pastrie-4 {
   background-image: url(../../assets/img/pastrie-4.jpeg);
}

.pastrie-price h6 {
   position: absolute;
   top: 0;
   right: 0;
   width: 70px;
   height: 70px;
   background-color: #ffcf49;
   color: #96510c;
   text-align: center;
   line-height: 70px;
   font-size: 20px;
   font-weight: 700;
   border-radius: 3px;
}

.pastrie-info {
   position: relative;
   width: 100%;
   background-color: #ffcf49;
   transform: translateY(105%) translateY(120px);
   transition: transform 0.5s ease-out;
}
	
.pastrie-title {
   margin: 0;
   padding: 30px 30px 20px 30px;
   font-size: 20px;
   font-weight: 700;
   color: #96510c;
}
	
.pastrie-info .description {
   padding: 0px 30px;
   color: #2a2a2a;
}
	
/***************************/
/* 06. Contact Area
/***************************/

.contact-area {
   padding: 100px 0;
   background-color: #2a2a2a;
   color: #faf6f6;
}

.contact-section h4 {
   padding: 15px 0 15px 20px;
   color: #ffcf49;
   font-size: 20px;
   font-weight: 500;
}

.contact-section h2 {
   font-size: 30px;
   font-weight: 700;
}

.contact-section p {
   margin-top: 15px;
   color: #faf6f6;
}

.contact-area .location,
.contact-area .phone {
   padding: 15px 0;
   text-align: left;
   border-radius: 5px;
}

.contact-area .location i,
.contact-area .phone i {
   float: left;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   background-color: #96510c;
   border-radius: 50%;
   font-size: 24px;
}

.contact-area .location h4,
.contact-area .phone h4 {
   padding: 20px 15px;
   color: #ffcf49;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
}

.contact-area .location span a,
.contact-area .phone span a {
   margin-left: 20px;
   padding-top: 30px;
   font-size: 17px;
   color: #faf6f6;
   transition: all 0.3s ease-in;
}

.contact-form {
   margin-left: 50px;
   padding: 45px 30px;
   background-color: #faf6f6;
   border-radius: 5px;
}

.contact-form h4 {
   margin-bottom: 30px;
   text-align: center;
   color: #96510c;
   font-size: 26px;
   font-weight: 700;
}
	
.contact-form input,
.contact-form textarea,
.contact-form select {
    margin-bottom: 15px;
    padding-top: 3px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: 46px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #2a2a2a;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
	
.contact-form textarea {
   height: 150px;
   resize: none;
   padding: 20px;
}
	
.contact-form button {
   margin-top: -10px;
   padding: 12px 25px;
   width: 100%;
   font-size: 15px;
   font-weight: 700;
   background-color: #96510c;
   border: 1px solid #96510c;
   color: #fff;
   transition: all 0.3s ease-in-out;
}
.contact-form button:hover {
   cursor: pointer;
   opacity: 0.9;
}
